* {
    outline: 0;
    margin: 0;
    padding: 0;
}

html, body, canvas {
    width: 100%;
    height: 100%;
}

canvas {
    background: rgb(73, 105, 248);
    /* background: rgb(255, 228, 109); */
}