:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.whiteboard {
    background-color: green;
    width: 60rem;
    height: 40rem;
    margin: 0 auto;
    cursor: pointer;
}

.note {
    background-color: yellow;
    width: 6rem;
    height: 6rem;
    position: relative;
    transition-property: scale box-shadow;
    transition: .3s ease;
    margin-top: -6rem;
    box-shadow: 0 0 .2rem rgba(0, 0, 0, .6);
}

.note.hidden {
    scale: 0.1;
}

.note:hover {
    scale: 1.3;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .6);
}