:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.whiteboard {
    background-color: green;
    width: 60rem;
    height: 40rem;
    margin: 0 auto;
    cursor: pointer;
}

.notes {
    display: inline;
}

.note {
    overflow: hidden;
    background-color: yellow;
    width: 6rem;
    height: 6rem;
    position: absolute;
    left: 0;
    right: 0;
    transition-property: scale box-shadow;
    transition: .3s ease;
    margin-top: -6rem;
    box-shadow: 0 0 .2rem rgba(0, 0, 0, .6);
    padding: .4rem;
}

.note.hidden {
    scale: 0;
}

.note.new {
    scale: 1.1;
    box-shadow: 0 0 .8rem rgba(0, 0, 0, .6);
}

.whiteboard:not(:hover) ~ .notes .note.new {
    width: 12rem;
    height: 12rem;
    margin-top: -12rem;
}